<html>
    <head>
        <title>Dump Scanner Tool</title>
    </head>
    <body>
        <form action="scan" method="POST">
            <h3>Select a Dump</h3>
            <select name="dump">
            {% for dump in dumps %}
                <option value="{{dump}}">{{dump}}</option>
            {% endfor %}
            </select>

            <h3>Include Namespaces:</h3>
            <ol>
            {% for ns_id, ns_name in namespaces.items() %}
                <li><label><input type="checkbox" name="nsinclude[]" value="{{ns_id}}" />{{ns_name}}</label></li>
            {% endfor %}
            </ol>

            <h4>Title</h4>
            Title Contains: <input type="textbox" name="titlecontains"> <br />
            Title does not Contain: <input type="textbox" name="titlenotcontains"> <br />
            Title Contains: <input type="checkbox" name="titleregex" value="true"> <br />

            <h4>Text</h4>
            text Contains: <input type="textbox" name="textcontains"> <br />
            text does not Contain: <input type="textbox" name="textnotcontains"> <br />
            text Contains: <input type="checkbox" name="textregex" value="true"> <br />

            <p><input type="submit" /></p>
        </form>
    </body>
</html>
